/*--Importaciones--*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*--Variables--*/
:root{
    --darkColor: #325c6e;
    --lightColor: #7ABBBE;
    --backgroundColor: #F0FAF7;
    --enfasisColor: #FFD3D6;
    --tipografiaPrincipal: "Montserrat", sans-serif;
}
/*Condiciones iniciales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    overflow-x: hidden;
    font-family: var(--tipografiaPrincipal);
    background-color: var(--backgroundColor) ;
}
/*---HEADER---*/
header{
    width: 100vw;
}
.menuNav{
    background-color: var(--lightColor);
    width: 100vw;
    height: 80px;
    display: flex;
    position: fixed;
}
.logo{
    height: 100%;
    width: 50%;
}
.imgLogo{
    align-items: flex-start;
    height: 100%;
}
.menu{
    height: 100%;
    width: 50%;
    align-content: center;
}
.listaMenu{
    width: 100%;
    display: flex;
    justify-content:right;
    padding-right: 7%;
    gap: 4%;
    list-style: none;
}
.listaMenu a{
    text-decoration: none;
    color: var(--darkColor);
    font-weight: bold;
}
.listaMenu a:hover{
    color: var(--enfasisColor);
}
.banner {
    margin-top: 80px;
    width: 100%;
}
/*----MAIN-----*/
main{
    width: 100vw;
}
h2{
    text-align: center;
    color: var(--enfasisColor);
    font-family: var(--tipografiaPrincipal);
    background-color: var(--darkColor);
}
span{
    color: var(--darkColor);
    font-weight: bold;
}
/*-----Introducción-----*/
.mainCont{
    width: 100%;
    height: 400px;
    display: flex;
    padding: 5%;
}
.personal{
    display: flex;
    width: 50%;
    height: auto;
    justify-content: center; 
}
.imgPersonal{
    width: 60%;
    height: auto;
}
.introTxt{
    width: 50%;
    align-content: center;
}
/*-----Estudios-----*/
.sectionEst{
    padding: 5%;
    width: 100vw;
}
.estudios{
    margin-top: 5%;
    padding-left: 23%;
    padding-right: 23%;
}
/*-----Habilidades digitales-----*/
.sectionHabl{
    padding: 5%;
    width: 100vw;
}
.listaHab{
    margin-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}
/*-----Servicios-----*/
.servNav{
    padding: 5%;
    width: 100vw;
}
.listaNav1{
    width: 100%;
    margin-top: 5%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 5%;
    list-style: none;
}
.listaNav2{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 5%;
    list-style: none;
    padding-left: 11%;
    padding-right: 11%;
}
.serBox{
    height: 100%;
    justify-content: center;
    align-items:center;
}
.imgNav {
    width: 100%;
    height: 80%;
}
.listaNav a{
    text-decoration: none;
    color: var(--darkColor);
    font-size: 16px;
    font-weight:normal;
}
.txtNav {
    text-align: center;
}
/*-----Portafolio-----*/
.sectionPort{
    padding: 5%;
    width: 100vw;
    position: static;
}
.portafolio{
    position: static;
    margin-top: 5%;
    overflow-x:scroll;
    display: flex;
    padding-left: 50%;
    padding-right: 50%;
    justify-content: last baseline;
    align-items: center;
}
@keyframes show {
    0% {
        opacity: 0;
        scale: 25%; 
    }
    50% {
        opacity: 1;
        scale: 100%; 
    }
    100% {
        opacity: 0;
        scale: 25%; 
    }
}
.imgSlider {
    position: static;
    text-align: center;
    color: var(--darkColor);
    font-weight: bold;

	view-timeline-name: --image;
	view-timeline-axis: inline;

	animation-timeline: --image;
	animation-name: show;

    animation-range: entry 50% cover 100%;
	animation-fill-mode: both;
}
.imgSlider a{
    color: var(--darkColor);
    text-decoration: none;
}
.imgSlider a:hover{
    color: var(--enfasisColor);
}
/*-----FOOTER-----*/
footer{
    background-color: var(--lightColor);
    width: 100vw;
    height: 150px;
    display: flex;
    padding: 1%;
}
.iconoFooter{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:right;
}
.imgSTEM{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.imgFooter{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.logoFooter{
    width: 100%;
    height: auto;
}
.logoSTEM{
    width: 40%;
    height: auto;
}
.contactFooter{
    width: 50%;
    height: 100%;
    align-content: center;
    display: flex;
}
.listaContact{
    margin-left: 5%;
    width: 100%;
    justify-content:center;
    align-items: center;
    gap: 5px;
    list-style: none;
}
.contacTxt{
    margin-bottom: 10px;
    font-family: var(--tipografiaPrincipal);
    color: var(--backgroundColor);
    font-weight:bold;
}
.listaContact{
    font-family: var(--tipografiaPrincipal);
    color: var(--backgroundColor);
    width: fit-content;
}
i{
    color: var(--backgroundColor);
}
.contacto{
    text-decoration: none;
    color: var(--backgroundColor);
}
